# --- Database ---
DATABASE_URL=-your database URL here-
UPSTASH_REDIS_REST_URL="your upstash redis rest URL here"
UPSTASH_REDIS_REST_TOKEN="your upstash redis rest token here"

# --- AI ---
GEMINI_API_KEY="your gemini API key here"
GROQ_API_KEY="your groq API key here"
TAVILY_API_KEY="your tavily API key here"

# --- App ---
ENVIRONMENT=development

#Auth
SECRET_KEY=your secret key here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30